.page-header
  %h1 Protocolos
  = simple_form_for :search, :url => protocols_path, :method => :get do |f|
    = f.input :name, :label => false, :input_html => { value: (params[:search][:name] rescue nil) }, :required => false
    = f.input :layer, :as => :select, :collection => Layer.all, :label => false, :prompt => "Selecione uma Camada"
    = f.button :submit, "Buscar", :class => "btn"
%table.table.table-striped
  %thead
    %tr
      %th Nome
      %th Descrição
      %th Camada
  %tbody
    - @protocols.each do |protocol|
      %tr
        %td= protocol.name
        %td= protocol.description
        %td= protocol.layer.name
        %td  
          = link_to "Editar", edit_protocol_path(protocol), :class => 'btn btn-mini'
          = link_to "Deletar", protocol_path(protocol), :method => :delete, :data => { :confirm => "Tem Certeza?" }, :class => 'btn btn-mini btn-danger'

= link_to "Novo Procotolo", new_protocol_path, :class => 'btn btn-primary'
